<div class="cookie-banner" id="cookieBanner">
  <p class="cookie-text" data-fr="Nous utilisons des cookies pour améliorer votre expérience de navigation. En continuant à utiliser notre site, vous consentez à leur utilisation." data-de="Wir verwenden Cookies, um Ihr Surferlebnis zu verbessern. Wenn Sie unsere Website weiterhin nutzen, stimmen Sie der Verwendung von Cookies zu." data-en="We use cookies to enhance your browsing experience. By continuing to use our site, you consent to our use of cookies." data-lb="Mir benotzen Cookies fir Är Navigatiounserfarung ze verbesseren. Wann Dir weider eis Säit benotzt, stëmmt Dir eiser Benotzung vu Cookies zou.">We use cookies to enhance your browsing experience. By continuing to use our site, you consent to our use of cookies.</p>
  <div class="cookie-btns">
    <button class="cookie-btn accept" id="cookieAccept" data-fr="Accepter" data-de="Akzeptieren" data-en="Accept" data-lb="Akzeptéieren">Accept</button>
    <button class="cookie-btn decline" id="cookieDecline" data-fr="Refuser" data-de="Ablehnen" data-en="Decline" data-lb="Refuséieren">Decline</button>
  </div>
</div>
